a{
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.content{
    margin: auto;
}

.clear{
    clear: both;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.notes .card{
    float: left;
    width: 300px;
    height: 250px;
    margin: 10px 10px;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 10%;
}

.notes .card > .card-body{
    overflow-y: auto;
}

.notes .card-footer{
    margin-bottom: 5px;
    text-align: center;
    color: white;
    background: rgba(149, 149, 149, 0.1);
}

.notes .card a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 2px black;
}

.fa-pencil{
    color: orange;
}

.fa-trash{
    color: red;
}

.title{
    text-align: center;
}

table {
    min-width: 100%;
    table-layout: fixed;
}

thead{
    font-size: 24px;
}

td, th {
    border: 2px solid #dedfe0;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
    font-weight: normal;
    max-width: 250px;
}

td.title{
    width: 20%;
    text-align: left;
}
td.description{
    width: 60%;
}

td.date{
    width: 10%;
}

td.controls{
    width: 10%;
}

.back-button{
    float: left;
    margin: 5px;
}

.menu-select{
    float: left;
    margin: 15px;
}

.wrap-content > .title{
    width: 100%;
    display: inline-block;
}

.workout{
    float: right;
    font-weight: 300;
    margin-right: 25px;
}

.search-form{
    float: right;
    margin: 15px;
}

.timer{
    text-align: center;
    
}

#timer-button{
    float: left;
    margin-left: calc(50% - 28px);
    margin-right: 5px;
}

#timer-form{
    float: left;
}